body {
     position: relative;
     width: 360px;
     height: 640px;

     display: flex;
     justify-content: center;
     margin-left: auto;
     margin-right: auto;

     background: #561a4b;
     border-radius: 30px;
}

.container {
     display: flex;
     justify-content: center;
     margin-left: auto;
}

.container .text1 {
     position: absolute;
     width: 265px;
     height: 129px;
     left: 47px;
     top: 119px;

     font-family: Poppins;
     font-style: normal;
     font-weight: 500;
     font-size: 24px;
     line-height: 36px;
     /* display: flex;
     align-items: center; */
     text-align: center;

     color: #FFFFFF;
}

.container .loading {
     position: absolute;
     width: 128px;
     height: 128px;
     left: 116px;
     top: 320px;
     filter: invert(50%);
}